name: "CD"
on: [push]

jobs:
  push_image:
    if: "github.ref == 'refs/heads/main'"
    name: Push image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby_version: [2.7.5, 3.0.2]
    steps:
      - uses: OpenSourcePolitics/build-and-push-images-action@develop
        with:
          registry: ${{ vars.REGISTRY_ENDPOINT }}
          namespace: ${{ vars.REGISTRY_NAMESPACE }}
          password: ${{ secrets.TOKEN }}
          image_name: ${{ vars.IMAGE_NAME }}
          tag: ${{ matrix.ruby_version }}-alpine-jemalloc
          context: ./${{ matrix.ruby_version }}
